{% load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Home {% endblock %}</title>
    <!--Importamos Css-->>
    <link type = 'text/css'rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>

    <H1>After Class Coder House</H1>

    <h3>Intrucción a HTML/ CSS y Bootstrap</h3>

    {% block content %}

    <iframe width="853" height="480" src="https://www.youtube.com/embed/mNbnV3aN3KA" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
    </iframe>
    {% endblock %}

<footer>
    <h2>Esto es un footer</h2>
    <p> Esto sirve para dejar datos de conctos, telefonos, redes sociales</p> 

</footer>
</body>

</html>