{% extends 'template3.html' %}

{% block titile %} Servicios {% endblock %}



{% block content %}

<H1>Estamos sobre el template de servicios</H1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis, dolor. Recusandae molestias repudiandae earum
    velit, minima corrupti cumque modi sint illum repellendus vitae dolore deleniti, sequi odit, aliquid pariatur
    adipisci!</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, enim! Quo quod soluta distinctio, cumque suscipit
    voluptatibus magnam, numquam repellat adipisci esse aspernatur ex velit corrupti, et provident tempore voluptate!

<H2>Ejemplo de botones</H2>
</p>

<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>

<button type="button" class="btn btn-link">Link</button>
{% endblock %}